<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>API loja</title>
</head>
<body>
    <nav>
        <div class="navbar" id="navbar">
            <a href="#" class="logo">Logo</a>
            
            <div class="links">
                <a href="#">Início</a>
                <a href="#">Sobre</a>
                <a href="#">Shoppe</a>
            </div>
            <div class="icons">
                <a href="#"><i class="fas fa-user"></i></a>
                
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
        <div class="content">
            <!-- Seu conteúdo aqui -->
        </div>
    </nav>



</body>
</html>
